<br>

<div class="ui center aligned basic segment">
  <div class="ui left icon action input huge">
    <input type="text" placeholder="Search..." data-behavior="autocomplete">
  </div>
  <div class="ui horizontal divider">
    Or
  </div>
  <div class="ui teal labeled icon button">
    <%= link_to "New Customer", new_customer_path %>
    <i class="add icon"></i>
  </div>
</div>
