<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= link_to 'Show', @customer, class: "green ui small button" %> |
<%= link_to 'Back', customers_path, :class => 'ui grey button' %>
